.page-wrapper {
    padding: 50px 100px 50px 100px;
}
.page-wrapper > h1 {
    font-size: 64px;
}
.article-card-wrapper {
    align-items: flex-start;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 260px;
    margin-bottom: 40px;
    padding: 20px 30px;
}
.article-card--photo {
    background-color: grey;
    flex-basis: 28%;
    height: 100%;
}
.article-card--photo img {
    height: 100%;
    width: 100%;
}
.article-card--text {
    flex-basis: 82%;
    margin-left: 20px;
}
.article-card--text h2 {
    font-size: 40px;
    margin: 0px;
}
.article-header {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.article-header h1 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}
.article-header p {
    font-size: 22px;
}
.article-header h2 {
    font-size: 20px;
}
.article-page-header-text {
    width: 50%;
}
.article-contents-wrapper {
    margin-top: 40px;
    width: 50%;
}
.article-contents-wrapper h1, h2, h3, h4{
    margin-top: 30px;
    margin-bottom: 30px;
}
.article-contents-wrapper h2 {
    font-size: 35px;
}
.article-contents-wrapper h3 {
    font-size: 25px;
}
.article-contents{
    display: flex;
    justify-content: center;
}